* {
  box-sizing: border-box;
}

:root {
  --card-bg: #fff;
  --card-footer-bg: rgba(241, 241, 241, 0.5);
  --app-bg: #f1f1f1;
  --divider: #ebebeb;
  --box-shadow: rgba(51, 51, 51, 0.1);
  --grey: #b4b4b4;
  --greyDark: #737c84;
  --blue: #69a3ff;
  --yellow: #ff9632;
  --blue: #ed1946;

  --spacing-50: 0.5em;
  --spacing-100: 1em;
  --spacing-200: 2em;

  --max-width: 1366px;
}

ul,
li {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--app-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
