* {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --card-footer-bg: #f1f1f1;
  --app-bg: #f1f1f1;
  --divider: #ebebeb;
  --box-shadow: rgba(51, 51, 51, 0.1);
  --grey: #b4b4b4;
  --greyDark: #737c84;
  --blue: #69a3ff;
  --yellow: #ff9632;
  --blue: #ed1946;
}
